body {
  font: 1em/1.5 sans-serif;
  color: #000;
  background: #fff;
  padding: 0;
  margin: 0;
}
a {
  color: hsl(0,100%,33%);
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: hsl(0,100%,23%);
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}
h3 {
  font-weight: bold;
  margin: 0 0 .5em;
  font-size: 1em;
}
p {
  margin: 0 0 1.5em;
}
.clearfix:before,.clearfix:after {content:""; display:table;}
.clearfix:after {clear:both;}
.clearfix {zoom:1;}
.container, .hr {
  width: 960px;
  margin: 0 auto;
}
#site-header {}
#branding {
  padding: 3em 0 0;
  text-align: center;
}
#branding h1 {
  margin: 0 auto;
}
#container {
  margin: 0 0 1.5em;
}
section {
  padding: 3em 0;
  border-bottom: 3px solid #eee;
}
section header {
  max-width: 800px;
  margin: 0 auto 3em;
  text-align: center;
}
section header h2 {
  font-size: 2em;
  letter-spacing: -1px;
  line-height: 1.25em;
  margin: 0 0 16px;
}
section header p {
  width: 580px;
  margin: 0 auto;
}
section.top h3 {
  text-align: center;
  font-size: 1em;
  line-height: 3em;
  margin: 0;
  font-weight: normal;
}
ul.problems {
  width: 256px;
  margin: 0 auto;
}
ul.problems li {
  width: 256px;
  border-top: 3px solid #eee;
}
ul.problems li a {
  display: block;
  text-align: center;
  line-height: 3em;
  background: #fff;
  font-weight: bold;
}
ul.steps {
  margin: 0 80px;
  list-style: none;
}
ul.steps li {
  margin: 0 0 1.5em;
}
ul.steps li.text {
  border-color: transparent;
  padding: 0;
}
ul.steps li p {
  color: #666;
}

table.classic {
  border-collapse: collapse;
  width: 800px;
  margin: 0 auto 1.5em;
}
table.classic th.feature {
  text-align: left;
}
table.classic th, 
table.classic td {
  padding: 1em;
  border-top: 3px solid #eee;
  width: 33%;
}
table.classic td.yes {
  color: hsl(120,100%,35%);
  text-align: center;
}

table.classic td.no {
  color: hsl(0,100%,35%);
  text-align: center;
}
ul.products {
  margin: 0 64px 0 80px;
}
ul.products li.family {
  float: left;
  width: 256px;
  margin-right: 16px;
}

ul.products li.family h3 {
  text-align: center;
  margin: 0 0 1em;
  background: #333;
  color: #fff;
  font: 1em/3 sans-serif;
}
ul.products li.family li.product {
  border: 3px solid #ddd;
  margin: 0 0 1em;
}
ul.products li.family li.product .title,
ul.products li.family li.product .data {
  padding: 1em;
  border-bottom: 1px solid #ddd;
}
/*
ul.products li.family li.product .data,
ul.products li.family li.product .footer {
  display: none;
}
ul.products li.family li.product:hover .data,
ul.products li.family li.product:hover .footer {
  display: block;
}
*/
ul.products li.family li.product .title {
  text-align: center;
}
ul.products li.family li.product .title h4 {
  font-weight: bold;
}
ul.products li.family li.product .title h5 {
  color: #999;
}
ul.products li.family li.product .data {
  padding: 1.25em 1.5em;
  min-height: 211px;
}
ul.products li.family li.product .data p {
  color: #666;
  margin: 0;
}
ul.products li.family li.product .footer {
  padding: 1em;
  height: 27px;
}
ul.products li.family li.product .footer .price {
  line-height: 27px;
  display: block;
  padding-right: 1em;
  float: left;
}
ul.products li.family li.product .footer form {
  display: block;
  float: right;
}

ul.products li.home.family h3 {background: hsl(95,59%,45%);}
ul.products li.home.family li.product {border-color: hsl(95,59%,45%);}
ul.products li.home.family li.product .title,
ul.products li.home.family li.product .data {
  border-color: hsl(95,59%,80%);
  color: hsl(112,73%,29%);
}
ul.products li.home.family li.product:hover {border-color: hsl(112,73%,29%);}

ul.products li.pro.family h3 {background: hsl(194,100%,43%);}
ul.products li.pro.family li.product {border-color: hsl(194,100%,43%);}
ul.products li.pro.family li.product .title,
ul.products li.pro.family li.product .data {
  border-color: hsl(194,100%,80%);
  color: hsl(202,99%,33%);
}
ul.products li.pro.family li.product:hover {border-color: hsl(202,99%,33%);}

ul.products li.server.family li.product {border-color: hsl(51,8%,33%);}
ul.products li.server.family li.product .title,
ul.products li.server.family li.product .data {
  border-color: hsl(51,8%,80%);
  color: hsl(41,75%,5%);
}
ul.products li.server.family li.product:hover {border-color: hsl(41,75%,5%);}

ul.products li.family li.product .data {
  font-size: 12px;
}
ul.verified {
  height: 75px;
  width: 640px;
  text-align: center;
  margin: 0 auto 1.5em;
}
ul.verified li {
  display: inline-block;
  vertical-align: middle;
  height: 75px;
  margin: 0 2em;
}
ul.verified li.payments,
ul.verified li.comodo {
  padding: 8px 0;
}
footer.site {
  font-size: 75%;
  color: #666;
  padding: 1.5em 0;
  text-align: center;
}
footer.site p,
footer.site ul {
  margin: 0 auto 1.5em;
  width: 800px;
}
footer.site ul li {
  display: inline-block;
}

footer.site ul li a{
  line-height: 3em;
  display: block;
  color: #666;
  font-weight: bold;
  text-decoration: none;
  padding: 0 1em;
}
footer.site ul li a:hover {
  text-decoration: underline;
  color: #000;
}
