body {
  font: 1em/1.5 Calibri, Trebuchet MS, sans-serif;
  color: #333;
  padding: 0;
  margin: 0;
  background: #eee;
  padding: 1.5em 0 0;
}
a {
  text-decoration: none;
  color: hsl(192,100%,50%);
}
a:hover {color: #24459A}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}
h3 {
  font-weight: bold;
  margin: 0 0 .5em;
  font-size: 1em;
}
p {margin: 0 0 1.5em}
.clearfix:before,.clearfix:after {content:""; display:table;}
.clearfix:after {clear:both;}
.clearfix {zoom:1;}
.container, .hr {
  width: 960px;
  margin: 0 auto;
}
#branding {
  text-align: center;
  height: 42px;
}
#branding img, #branding h1 {
  float: left;
}
#branding img { margin: 9px 4px;}
#branding h1 {
  margin-left: 5px;
  color: #333;
  font-family: Cambria, Times New Roman, serif;
  line-height: 42px;
  font-size: 20px;
}
#branding h1 a {
  color: #333;
}
#branding h1 a:hover {
  color: #24459A
}
#container {
  margin: 0 0 1.5em;
  width: 960px;
  margin: 0 auto;
}
section {
  padding: 3em 0;
  border-top: 3px solid #eee;
  width: 960px;
  margin: 0 auto;
  background: #fff;
}
section header {
  max-width: 800px;
  margin: 0 auto 3em;
  text-align: center;
}
section h2 {
  font-size: 2em;
  letter-spacing: -1px;
  line-height: 1.25em;
  margin: 0 0 16px;
  color: #111;
}
section header p {
  width: 580px;
  margin: 0 auto;
}

/* section.top */
section.top {
  background: #0cf;
  border-top: none;
  padding: 80px 0;
  background: #333;
}
section.top .left,
section.top .right {
  float: left;
  text-align: left;
}
section.top .left {
  width: 440px;
  margin-left: 80px
}
section.top .left h2 {
  font-size: 2.40em;
  line-height: 1.25em;
  font-weight: normal;
  margin: 0 0 24px;
  padding-right: 40px;
  color: #eee;
}

section.top .left p {
  margin-right: 40px;
  color: #bbb;
  margin-bottom: 40px;
}

/* button designs */
ul.buttons {
  height: 40px;
}

ul.buttons li {
  margin-right: 1.25em;
  float: left;
}
a.button {
  display: block;
  width: 160px;
  text-align: center;
  line-height: 40px;
  background: #fff;
  color: #333;
  font-weight: bold;
}
a.button:hover {
  background: #0cf;
  color: #000;
}
section.top .right {
  width: 360px;
  padding-top: 1em
  margin-right: 80px
}
ul.problems {
  background: #333;
  padding: 4px 0 0 4px;
  background: #333;
}
ul.problems li {
  width: 174px;
  margin: 0 4px 4px 0;
  float: left;
  background: #eee;
}
ul.problems li a {
  display: block;
  line-height: 1em;
  padding: 13px;
  color: #ddd;
  background: #444;
  border: 3px solid #444;
}

ul.problems li a:hover {
  border-color: #0cf;
}
ul.problems li a img {
  display: block;
  margin-top: 1em;
  border: none;
}

table.classic {
  border-collapse: collapse;
  width: 800px;
  margin: 0 auto 1.5em;
}
table.classic th.feature {
  text-align: left;
  width: 40%;
}
table.classic th, 
table.classic td {
  padding: .75em 1em;
  border-top: 3px solid #eee;
  width: 20%;
}
table.classic td.yes {
  color: hsl(120,100%,35%);
  text-align: center;
}

table.classic td.no {
  color: hsl(0,100%,35%);
  text-align: center;
}
ul.products {
  margin: 0 64px 0 80px;
}
ul.products li.family {
  float: left;
  width: 256px;
  margin-right: 16px;
}

ul.products li.family h3 {
  text-align: center;
  margin: 0 0 1em;
  background: #333;
  color: #fff;
  font: 1em/3 sans-serif;
}
ul.products li.family form {
  border: 3px solid #ddd;
  margin: 0 0 1em;
  text-align: center;
}

ul.products li.family form ul.radios {
  border-bottom: 1px solid #ddd;
}
ul.products li.family form ul.radios li {
  border-bottom: 1px solid #eee;
  text-align: left;
  position: relative;
  height: 3em;
  padding: .5em .75em;
}
ul.products li.family form ul.radios li.submit {
  border-bottom: none;
  padding: 1em;
  height: auto;
  text-align: center;
}
ul.products li.family form ul.radios li input {
  position: relative;
  z-index: 10;
}
ul.products li.family form ul.radios li label {
  position: absolute;
  top: 0;
  left: 0;
  padding: .5em 1em .5em 2.5em;
  display: block;
  width: 194px;
  cursor: pointer;
}
ul.products li.family form ul.radios li label:hover {
  background: #f6f6f6;
}
ul.products li.family form ul.radios li label .price {
  color: #888;
  font-size: 12px;
  line-height: 24px;
}

ul.products li.home.family form {
  border-color: #71C238;
  border-color: hsl(95,59%,45%);
}
ul.products li.pro.family form {
  border-color: #00A8DB;
  border-color: hsl(194,100%,43%);
}
ul.products li.server.family form {
  border-color: #5B594D;
  border-color: hsl(51,8%,33%);
}
ul.products li.home.family h3 {
  background: #71C238;
  background: hsl(95,59%,45%);
}
ul.products li.pro.family h3 {
  background: #00A8DB;
  background: hsl(194,100%,43%);
}

ul.verified {
  height: 75px;
  width: 457px;
  text-align: center;
  margin: 0 auto 1.5em;
}
ul.verified li {
  float: left;
  height: 75px;
  margin: 0 2em;
}
ul.verified li.payments img {
  margin: 8px 0
}

/* article styles */
article {
  width: 800px;
  margin: 0 auto;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  padding: 0;
  margin: 0;
}

article h1 {
  font-size: 1.75em;
  font-weight: bold;
  display: block;
  margin: 1em 0 .5em;
}
article h2 {
  font-size: 1.75em;
  display: block;
  margin: 1em 0 .5em;
}
article h3 {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  margin: 1em 0 .5em;
}
article h4 {
  font-size: 1.5em;
  display: block;
  margin: 1em 0 .5em;
}
article h5 {
  font-size: 1.25em;
  font-weight: bold;
  display: block;
  margin: 1em 0 .5em;
}
article h6 {
  font-size: 1.25em;
  display: block;
  margin: 1em 0 .5em;
}
article p, article ul, article ol, article img {
  margin: 0 0 1.5em;
}
article ul,
article ol {
  padding-left: 2em;
  list-style: decimal;
}
article ul {
  padding-left: 2em;
  list-style: disc;
}
article li {
  margin: 0 0 .5em;
}
article blockquote {
  margin: 2em;
  border: 1px solid #eee;
  padding: 2em 2em .5em;
  color: #666;

}
article img {
  background: #666;
}
  
footer.site {
  padding: 3em 0;
}
footer.site a {color: #333;}
footer.site a:hover {color: #888;}
footer.site p, footer.site ul {
  font-size: 75%;
  color: #888;
}
footer.site ul {
  border: 1px solid #ddd;
  height: 36px;
  margin: 0 0 1.5em;
}
footer.site ul li {
  float: left;
  line-height: 34px;
  padding: 0 1em;
}
footer.site ul li.copy {
  width: 288px;
}
